.h3{
    font-size: 36px;
    color: #101828;
}
.para{
    font-size: 1.25rem;
}
.custom-padding{
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

@media(max-width:768px){
    .h3{
        font-size:20px;
        color: #101828;
    }
    .para{
        font-size: 0.9rem;
    }
    .custom-padding{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}